* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
--root {
}
header {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
}
.container {
  background-color: transparent;
  height: 100%;
  width: 100%;
  /* background-color: lightcyan; */
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: space-between; */
  justify-content: space-between;
}
.content {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  /* background-color: aquamarine; */
  /* background-color: black; */
  color: white;
  border-radius: 10px;
  padding: 1rem;

  /* glass */
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.content p {
  font-size: 20px;
  font-weight: 600;
}
.content button {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border: 2px solid black;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}
.content button:hover {
  background-color: black;
  color: white;
  /* font-weight: 800; */
  /* font-size: px */
}
.footer {
  /* display: ; */
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 1rem;
  font-size: 20px;
  font-weight: 600;
}
.color {
  /* background-color: black; */
}
